@model QLKHOXD.Models.VatTu

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>VatTu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenVt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenVt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donvitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donvitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinhTrangVt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinhTrangVt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaVt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
