@using Microsoft.AspNetCore.Mvc.Rendering
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using QLKHOXD.Models
@functions {
    public bool IsActive(string controller, string action)
    {
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();

        return string.Equals(currentController, controller, StringComparison.OrdinalIgnoreCase) &&
               string.Equals(currentAction, action, StringComparison.OrdinalIgnoreCase);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Admin - quản lý</title>
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/assets/img/favicon.png">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/plugins/feather/feather.css">

    <link rel="stylesheet" href="~/assets/plugins/icons/flags/flags.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a href="~/Home/Index" class="logo">
                    <img src="~/assets/img/logo.png" alt="Logo">
                </a>
                <a href="index.html" class="logo logo-small">
                    <img src="~/assets/img/logo-small.png" alt="Logo" width="30" height="30">
                </a>
            </div>

            <div class="menu-toggle">
                <a href="javascript:void(0);" id="toggle_btn">
                    <i class="fas fa-bars"></i>
                </a>
            </div>

            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav user-menu">


                <li class="nav-item dropdown noti-dropdown me-2">
                    <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
                        <img src="~/assets/img/icons/header-icon-05.svg" alt="">
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/assets/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/assets/img/profiles/avatar-11.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">International Software Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/assets/img/profiles/avatar-17.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone XR</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image" src="~/assets/img/profiles/avatar-13.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Mercury Software Inc</span> added a new product <span class="noti-title">Apple MacBook Pro</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="#">View all Notifications</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item zoom-screen me-2">
                    <a href="#" class="nav-link header-nav-list">
                        <img src="~/assets/img/icons/header-icon-04.svg" alt="">
                    </a>
                </li>

                <li class="nav-item dropdown has-arrow new-user-menus">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="~/assets/img/profiles/avatar-01.jpg" width="31" alt="Ryan Taylor">
                            <div class="user-text">
                                <p class="text-muted mb-0">@ViewBag.vt</p>
                            </div>
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="~/assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>@ViewBag.vt</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="profile.html">My Profile</a>
                        <a class="dropdown-item" href="inbox.html">Inbox</a>
                        
                        <a class="dropdown-item" asp-controller="Login" asp-action="Logout">Logout</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main Menu</span>
                        </li>
                        <li class="submenu">


                        <li><a asp-controller="Home" asp-action="Index" class="@(IsActive("Home", "Index") ? "active" : "")"><i class="fas fa-bars"></i> <span> Trang chủ</span></a></li>

                        </li>
                        <li class="submenu">
                            <a href="#"><img src="~/assets/img/icons/pheduyetpng.png" width="20px" /> <span> Yêu cầu phê duyệt</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="PheDuyet" asp-action="PhieuNhap" class="@(IsActive("PheDuyet", "PhieuNhap") ? "active" : "")">Phiếu Nhập</a></li>

                                <li><a asp-controller="PheDuyet" asp-action="PhieuXuat" class="@(IsActive("PheDuyet", "PhieuXuat") ? "active" : "")">Phiếu Xuất</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><img src="~/assets/img/icons/phieu1.png" width="20px" /> <span> Tạo phiếu</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="Home" asp-action="TaoPhieuNhap" class="@(IsActive("Home", "TaoPhieuNhap") ? "active" : "")">Nhập Kho</a></li>
                                <li><a asp-controller="Home" asp-action="TaoPhieuXuat" class="@(IsActive("Home", "TaoPhieuXuat") ? "active" : "")">Xuất Kho</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><img src="~/assets/img/icons/vattu1.png" width="20px" /> <span> Cập Nhật Vật Tư</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="VatTus" asp-action="DSVatTu" class="@(IsActive("VatTus", "DSVatTu") ? "active" : "")">Danh Sách VT</a></li>
                                <li><a asp-controller="VatTus" asp-action="Create" class="@(IsActive("VatTus", "AddTeacher") ? "active" : "")">Thêm VT</a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><img src="~/assets/img/icons/tick.png" width="20px" /> <span> Yêu Cầu Xác Nhận</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="Home" asp-action="XacNhanDaNhap" class="@(IsActive("Home", "XacNhanDaNhap") ? "active" : "")">Xác Nhận Đã Nhập</a></li>
                                <li><a asp-controller="Home" asp-action="XacNhanDaXuat" class="@(IsActive("AdminManage", "XacNhanDaXuat") ? "active" : "")">Xác Nhận Đã Xuất</a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><img src="~/assets/img/icons/manager.png" width="20px" /> <span> Quản Lý Tài Khoản</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="NguoiDungs" asp-action="NhanVien" class="@(IsActive("NguoiDungs", "NhanVien") ? "active" : "")">Nhân Viên Kho</a></li>
                                <li><a asp-controller="NguoiDungs" asp-action="ChuThau" class="@(IsActive("NguoiDungs", "ChuThau") ? "active" : "")">Chủ Thầu</a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                        <li><a asp-controller="Home" asp-action="BaoCaoVT" class="@(IsActive("Home", "BaoCaoVT") ? "active" : "")"><img src="~/assets/img/icons/report.png" width="20px" /> <span> Báo Cáo Sự Cố VT</span></a></li>
                        </li>
                        <li class="submenu">
                        <li><a asp-controller="UpdateInfo" asp-action="UpdateInformation" class="@(IsActive("UpdateInfo", "UpdateInformation") ? "active" : "")"><img src="~/assets/img/icons/people.png" width="20px" /> <span> Thông Tin Cá Nhân</span></a></li>
                        </li>



                    </ul>
                </div>
            </div>
        </div>


        @RenderBody()

        <script src="~/assets/js/jquery-3.6.0.min.js"></script>

        <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

        <script src="~/assets/js/feather.min.js"></script>

        <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <script src="~/assets/plugins/select2/js/select2.min.js"></script>

        <script src="~/assets/plugins/moment/moment.min.js"></script>
        <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/js/site.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="~/assets/js/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.xn').click(function () {
                    var maPn = $(this).data('mapn');
                    var $row = $(this).closest('tr');

                    $.ajax({
                        url: '@Url.Action("XacNhan", "PheDuyet")',
                        type: 'POST',
                        data: { maPn: maPn },
                        success: function (response) {
                            if (response.success) {
                                $row.find('.trang-thai').html('<span class="text-success">Approval</span>');
                                alert('Phê duyệt thành công!!');
                            } else {
                                alert('Failed to update the status');
                            }
                        },
                        error: function () {
                            alert('An error occurred while processing your request.');
                        }
                    });
                });
            });
        </script>
        @RenderSection("Scripts", required: false)
</body>
</html>